{% extends 'layout/dashboard.html.twig' %}

{% set title = 'Dashboard' %}

{% block window_title %}
    {{ title }} |
{% endblock %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block content %}
    <div class="box">
        <div class="box-body">
            Welcome, {{ app.user.profile.name }}
        </div>
    </div>
{% endblock %}



